### List, Set, Dictionary Comprehension

#### create a lookup map of strings to their locations in a list

In [1]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
loc_mapping = {val: index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

In [4]:
# Get the name from all_data list that have 2 or more 'e' in it
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], 
           ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar'],]

result = [name for names in all_data for name in names
         if name.count('e') >= 2]
result

['Steven']

In [5]:
# "flatten" a list of tuples of integers into a single list of integers
some_tuples = [(1,2,3), (4,5,6), (7,8,9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Functions

In [13]:
import re
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

remove_punctuation('!south caro?lina###')

'south carolina'

In [14]:
clean_ops = [str.strip, remove_punctuation, str.title]

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'South   Carolina###', 'West Virginia']
def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
        
    return result

In [15]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

#### Use functions as arguments to other functions like the built-in **map** function, which applies a function to a sequence of some kind

In [16]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
South   Carolina
West Virginia

#### lambda

In [18]:
ints = [4,0,1,5,6]

def apply_to_list(some_list, f):
    return [f(x) for x in some_list]


apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [19]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key = lambda x: len(set(list(x))))

In [20]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Currying : Partial Argument Application

In [23]:
def add_numbers(x,y):
    return x+y

add_five = lambda y: add_numbers(5,y)

In [24]:
add_five(7)

12

In [25]:
from functools import partial
add_six = partial(add_numbers,6)
add_six(8)

14

In [27]:
def subtract_numbers(x, y):
    return x - y

subtract_five= lambda x: subtract_numbers(x,5)

In [31]:
subtract_five(12)

7

In [33]:
from functools import partial
subtract_two = partial(subtract_numbers, 19)
subtract_two(11)

8

### Generator

In [35]:
some_dict = {'a':1, 'b':2, 'c':3}

dict_iterator = iter(some_dict)
dict_iterator

In [36]:
list(dict_iterator)

['a', 'b', 'c']

In [37]:
def squares(n=10):
    print('Generating squares from 0 to {0}'.format(n**2))
    for i in range(1, n+1):
        yield i**2

In [38]:
gen = squares()
gen

In [39]:
for x in gen:
    print(x, end=' ')

Generating squares from 0 to 100
1 4 9 16 25 36 49 64 81 100

#### Generator Expression

In [44]:
gen = (x**2 for x in range(101))
gen

In [45]:
for x in gen:
    print(x, end=' ')

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801 10000

In [48]:
sum(x**2 for x in range(100))

328350

In [49]:
dict((i, i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### itertools module

In [52]:
import itertools

first_letter = lambda x: x[0]

names = ['Alan', 'Adam', 'Alice','Wes', 'Will', 'Albert', 'Steven']

for letter, names in itertools.groupby(names, first_letter):
    
    print(letter, list(names))    #names is a generator

A ['Alan', 'Adam', 'Alice']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### File Op

with open(path) as f:

    lines = [x.rstrip() for x in f]