https://www.youtube.com/watch?v=q1FttL_G1G4

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [7]:
# load dataset
athletes = pd.read_csv("../kaggle/data/olympic/athlete_events.csv")
regions = pd.read_csv("../kaggle/data/olympic/noc_regions.csv")

In [8]:
athletes.head()

   ID                      Name Sex   Age  ...       City          Sport                             Event Medal
0   1                 A Dijiang   M  24.0  ...  Barcelona     Basketball       Basketball Men's Basketball   NaN
1   2                  A Lamusi   M  23.0  ...     London           Judo      Judo Men's Extra-Lightweight   NaN
2   3       Gunnar Nielsen Aaby   M  24.0  ...  Antwerpen       Football           Football Men's Football   NaN
3   4      Edgar Lindenau Aabye   M  34.0  ...      Paris     Tug-Of-War       Tug-Of-War Men's Tug-Of-War  Gold
4   5  Christine Jacoba Aaftink   F  21.0  ...    Calgary  Speed Skating  Speed Skating Women's 500 metres   NaN

[5 rows x 15 columns]

In [9]:
regions.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [10]:
# Join the dataframe
athletes_df = athletes.merge(regions, how = 'left', on = 'NOC')
athletes_df.head()

   ID                      Name Sex   Age  ...                             Event  Medal       region notes
0   1                 A Dijiang   M  24.0  ...       Basketball Men's Basketball    NaN        China   NaN
1   2                  A Lamusi   M  23.0  ...      Judo Men's Extra-Lightweight    NaN        China   NaN
2   3       Gunnar Nielsen Aaby   M  24.0  ...           Football Men's Football    NaN      Denmark   NaN
3   4      Edgar Lindenau Aabye   M  34.0  ...       Tug-Of-War Men's Tug-Of-War   Gold      Denmark   NaN
4   5  Christine Jacoba Aaftink   F  21.0  ...  Speed Skating Women's 500 metres    NaN  Netherlands   NaN

[5 rows x 17 columns]