### pandas.set_option

#### display.max_rows

In [1]:
import numpy as np
import pandas as pd 

df = pd.DataFrame(np.random.randn(10,5))
df

C:\work2\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

          0         1         2         3         4
0  0.627694 -0.892943 -0.041793 -0.348091 -0.165577
1  0.424700  0.084187  0.804757  1.009412 -2.240594
2 -0.792865 -0.675416 -1.967282 -0.609492  1.249129
3 -0.060794  0.092412  0.663862  0.393878 -1.293337
4  1.137154 -0.920499 -1.340238 -0.015227 -0.409514
5 -0.738403 -0.137216  0.889485 -0.010045  1.158175
6  1.216667 -0.047748 -1.211207 -0.111815 -1.396490
7  0.105603 -0.550391 -0.951702 -0.605031  0.203105
8 -2.124465 -0.988076  1.400569 -1.247980  0.990450
9 -1.006169  0.238639  0.223853  1.121702 -0.344909

In [21]:
pd.set_option('display.max_rows',10)
df

      0     1     2     3     4
0 $0.03 $0.77 $0.91 $0.90 $0.41
1 $0.86 $0.60 $0.21 $0.85 $0.27
2 $0.51 $0.41 $0.78 $0.55 $0.12
3 $0.62 $0.70 $0.32 $0.71 $0.01
4 $0.48 $0.40 $0.56 $0.23 $0.60

#### display.max_columns

In [8]:
df = pd.DataFrame(np.random.rand(10,30))
df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.854721,0.543757,0.681606,0.264837,0.382972,0.601752,0.387221,0.880033,0.818534,0.883264,...,0.389844,0.445064,0.848848,0.102581,0.230455,0.316536,0.367081,0.284986,0.858377,0.375237
1,0.478667,0.960920,0.799890,0.825965,0.301710,0.349412,0.995210,0.324628,0.600911,0.543948,...,0.801950,0.300104,0.937747,0.096716,0.791991,0.109656,0.432974,0.303802,0.513215,0.476938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,0.510573,0.149470,0.997369,0.498309,0.525903,0.735042,0.071343,0.525776,0.099349,0.140342,...,0.678210,0.771617,0.249693,0.373562,0.854480,0.175180,0.319577,0.731494,0.963588,0.829486
9,0.785954,0.736283,0.368190,0.750165,0.603098,0.727186,0.165784,0.078533,0.731611,0.091474,...,0.895247,0.193085,0.026527,0.346749,0.450486,0.429957,0.486743,0.281886,0.557726,0.778252

In [9]:
pd.set_option('display.max_columns', 30)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29
0,0.854721,0.543757,0.681606,0.264837,0.382972,0.601752,0.387221,0.880033,0.818534,0.883264,0.663699,0.126812,0.714126,0.018045,0.042900,0.265049,0.695491,0.266925,0.641673,0.834319,0.389844,0.445064,0.848848,0.102581,0.230455,0.316536,0.367081,0.284986,0.858377,0.375237
1,0.478667,0.960920,0.799890,0.825965,0.301710,0.349412,0.995210,0.324628,0.600911,0.543948,0.506871,0.089972,0.001579,0.683402,0.562614,0.795001,0.699095,0.780219,0.215535,0.398873,0.801950,0.300104,0.937747,0.096716,0.791991,0.109656,0.432974,0.303802,0.513215,0.476938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,0.510573,0.149470,0.997369,0.498309,0.525903,0.735042,0.071343,0.525776,0.099349,0.140342,0.675954,0.189160,0.871851,0.385390,0.794087,0.946778,0.057052,0.911947,0.587355,0.703396,0.678210,0.771617,0.249693,0.373562,0.854480,0.175180,0.319577,0.731494,0.963588,0.829486
9,0.785954,0.736283,0.368190,0.750165,0.603098,0.727186,0.165784,0.078533,0.731611,0.091474,0.737496,0.586590,0.235283,0.677312,0.395501,0.235393,0.824482,0.251693,0.054929,0.645009,0.895247,0.193085,0.026527,0.346749,0.450486,0.429957,0.486743,0.281886,0.557726,0.778252

#### display.max_colwidth()

In [10]:
df = pd.DataFrame({'A': ['a'*60, 'b'*60]})
df

                                                   A
0  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...
1  bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb...

In [14]:
pd.set_option('display.max_colwidth',100)
df

                                                              A
0  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
1  bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb

#### display.chop_threshold 0.5

In [16]:
df = pd.DataFrame(np.random.rand(5,5))
df

          0         1         2         3         4
0  0.640262  0.897594  0.863395  0.373984  0.990710
1  0.542011  0.330398  0.039457  0.490175  0.611635
2  0.299472  0.283177  0.651530  0.785695  0.426245
3  0.141287  0.031236  0.844176  0.294349  0.847178
4  0.108288  0.290964  0.365436  0.168192  0.788955

In [17]:
pd.set_option('display.chop_threshold', 0.5)
df

          0         1         2         3         4
0  0.640262  0.897594  0.863395  0.000000  0.990710
1  0.542011  0.000000  0.000000  0.000000  0.611635
2  0.000000  0.000000  0.651530  0.785695  0.000000
3  0.000000  0.000000  0.844176  0.000000  0.847178
4  0.000000  0.000000  0.000000  0.000000  0.788955

#### display.float_format

In [23]:
df = pd.DataFrame(np.random.rand(10,5))
df

      0     1     2     3     4
0 $0.16 $0.91 $0.28 $0.86 $0.60
1 $0.49 $0.48 $0.34 $0.41 $0.39
2 $0.67 $0.09 $0.90 $0.78 $0.99
3 $0.86 $0.89 $0.29 $0.57 $0.19
4 $0.03 $0.57 $0.85 $0.97 $0.21
5 $0.59 $0.56 $0.55 $0.05 $0.72
6 $0.94 $0.67 $0.06 $0.33 $0.95
7 $0.87 $0.37 $0.82 $0.46 $0.56
8 $0.32 $0.70 $0.63 $0.32 $0.65
9 $0.29 $0.50 $0.87 $0.01 $0.89

In [24]:
pd.set_option('display.float_format', '${:,.2f}'.format)
df

      0     1     2     3     4
0 $0.16 $0.91 $0.28 $0.86 $0.60
1 $0.49 $0.48 $0.34 $0.41 $0.39
2 $0.67 $0.09 $0.90 $0.78 $0.99
3 $0.86 $0.89 $0.29 $0.57 $0.19
4 $0.03 $0.57 $0.85 $0.97 $0.21
5 $0.59 $0.56 $0.55 $0.05 $0.72
6 $0.94 $0.67 $0.06 $0.33 $0.95
7 $0.87 $0.37 $0.82 $0.46 $0.56
8 $0.32 $0.70 $0.63 $0.32 $0.65
9 $0.29 $0.50 $0.87 $0.01 $0.89

#### display.max_info_rows 1690786

df = pd.DataFrame(np.random.randn(1690785,5))
df.info()

In [25]:
pd.set_option('display.max_info_rows', 1690786)
#df.info()

#### display.precision 4, default 6

In [29]:
df = pd.DataFrame(np.random.randn(5,5))
df

          0         1         2         3         4
0  0.648349  0.000000  0.000000  0.000000  1.116505
1  1.040978  0.000000  0.000000 -1.230757 -1.182808
2 -0.977489 -1.940156  0.942888  0.000000  0.559879
3  1.060175 -1.026058  1.189282  1.043258  0.000000
4  1.533023  0.000000 -0.918515  0.000000  0.000000

In [28]:
pd.reset_option('display.float_format')

In [30]:
pd.set_option('display.precision',4)
df

        0       1       2       3       4
0  0.6483  0.0000  0.0000  0.0000  1.1165
1  1.0410  0.0000  0.0000 -1.2308 -1.1828
2 -0.9775 -1.9402  0.9429  0.0000  0.5599
3  1.0602 -1.0261  1.1893  1.0433  0.0000
4  1.5330  0.0000 -0.9185  0.0000  0.0000

#### display.option_context()

df = pd.DataFrame(np.random.randn(1690785,5))
df.info()

In [32]:
with pd.option_context('display.max_info_rows', 1690786):
    df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      float64
 1   1       5 non-null      float64
 2   2       5 non-null      float64
 3   3       5 non-null      float64
 4   4       5 non-null      float64
dtypes: float64(5)
memory usage: 328.0 bytes

### Built-in Functions
#### system convert

In [34]:
print(bin(10))
print(hex(10))
print(oct(10))

0b1010
0xa
0o12

#### math operations

In [40]:
print(divmod(20,3))    #商与余数
print(20 // 3)         #商
print(20 / 3)          #
print(20 % 3)          #余
print(min(3,4,1,2,6,4,7,9))

(6, 2)
6
6.666666666666667
2
1

#### list and tuple

In [45]:
lst = '你好啊'
reversed_ls = reversed(lst)
list(reversed_ls)

['啊', '好', '你']

In [46]:
lst = [1,2,3,4,5,6,7]
print(lst[1:4:1])

[2, 3, 4]

In [47]:
s = slice(1,4,1)
print(lst[s])

[2, 3, 4]

#### string

In [48]:
print(str(123)+'456')

123456

In [49]:
s = "hello world!"
print(format(s, "^20"))    # in the middle

    hello world!

In [50]:
print(format(s,"<20"))     # keep left alignment

hello world!

In [51]:
print(format(s, ">20"))    # keep right alignment

        hello world!

In [68]:
print(format(3, 'b'))     # binary 
print(format(97, 'c'))    # unicode character
print(format(11, 'd'))    # decimal
print(format(11, 'n'))    # decimal
print(format(11))
print(format(11, 'o'))    # oct
print(format(11, 'x'))    # hex in lower case
print(format(11, 'X'))    # hex in upper case
print(format(123456789, 'e'))
print(format(123456789, '0.2e'))
print(format(123456789, '0.2E'))
print(format(1.23456789, 'f'))
print(format(1.23456789, '0.2f'))
print(format(1.23456789, '0.10f'))
print(format(1.23456789e+3, 'F'))

11
a
11
11
11
13
b
B
1.234568e+08
1.23e+08
1.23E+08
1.234568
1.23
1.2345678900
1234.567890

In [69]:
bs = bytes("今天你吃饭了吗", encoding = 'utf-8')    # convert string into bytes
bs

b'\xe4\xbb\x8a\xe5\xa4\xa9\xe4\xbd\xa0\xe5\x90\x83\xe9\xa5\xad\xe4\xba\x86\xe5\x90\x97'

In [73]:
ret = bytearray("alex", encoding = "utf-8")
print(ret[0])
print(ret)
ret[0] = 65
print(str(ret))

97
bytearray(b'alex')
bytearray(b'Alex')

In [77]:
print(ord('a'))
print(ord('国'))
print(chr(65))
print(chr(19999))

97
22269
A
丟

for i in range(65536):
    print(chr(i), end= " ")

In [79]:
print(ascii("@"))

'@'

#### sort(), sorted()

In [85]:
lst = [5,7,6,12,1,13,9,18,5]
lst.sort()
print(lst)
l1 = sorted(lst)
print(l1)
l2 = sorted(lst, reverse = True)
print(l2)

[1, 5, 5, 6, 7, 9, 12, 13, 18]
[1, 5, 5, 6, 7, 9, 12, 13, 18]
[18, 13, 12, 9, 7, 6, 5, 5, 1]

In [86]:
lst = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
def f(s):
    return len(s)

l3 = sorted(lst, key=f, )
print(l3)

['one', 'two', 'six', 'four', 'five', 'three', 'seven', 'eight']

In [88]:
print(all([1, 'hello', True, 9.9]))     # all of the list element is True, the result is True
print(any([0,0,0, False, 1, np.NaN]))   # any one of the list element is True, the result is True

True
True

In [94]:
lst = [1,2,3,4,5,6,7,8,9,10]
def func(s):
    return  s % 2 == 1

l4 = filter(func, lst)
print(l4)
print(list(l4))

<filter object at 0x000001C0371CE308>
[1, 3, 5, 7, 9]

In [100]:
def func(s):
    return s

lst = [1,2,3,4,5,6,7,8,9]
it = map(func, lst)
print(list(it))

[1, 2, 3, 4, 5, 6, 7, 8, 9]