pandas是python数据分析必备工具，它有强大的数据清洗能力，往往能用非常少的代码实现较复杂的数据处理

今天，鸟哥总结了pandas筛选数据的15个常用技巧，主要包括5个知识点：

1.比较运算：==、<、>、>=、<=、!=  
2.范围运算：between(left,right)  
3.字符筛选:str.contains(pattern或字符串,na=False)  
4.逻辑运算：&（与）、|（或）、not(取反)  
5.比较函数：eq, ne, le, lt, ge, gt（相当于==，=!， <=， <， >=， >）
6.apply函数

下面以超市运营数据为例，给大家逐个讲解

首先读取数据：

In [ ]:
import pandas as pd
data=pd.read_excel('超市运营数据模板.xlsx')
data

先看一下各列的数据类型：

In [6]:
data.dtypes

商品ID             int64
类别ID             int64
门店编号            object
单价             float64
销量             float64
订单ID            object
日期      datetime64[ns]
时间              object
dtype: object

下面以实际应用场景为例开始讲解：

## 1.筛选门店编号为'CDXL'的运营数据

### ①第一种方法，用比较运算符‘==’：

In [ ]:
data[data.门店编号=='CDXL']

### ②第二种方法，用比较函数'eq'：

In [ ]:
data[data['门店编号'].eq('CDXL')]

## 2.筛选单价小于等于10元的运营数据

### ③第一种方法，用比较运算符‘<=’:

In [ ]:
data[data.单价<=10]

### ④第二种方法，用比较函数'le'：

In [ ]:
data[data['单价'].le(10)]

## 3.筛选销量大于2000的运营数据

### ⑤第一种方法，用比较运算符‘>=’:

In [ ]:
data[data.销量>2]

### ⑥第二种方法，用比较函数'ge'：

In [ ]:
data[data['销量'].ge(2)]

## 4.筛选除门店'CDXL'外的运营数据

### ⑦第一种方法，用比较运算符‘!=’:

In [ ]:
data[data.门店编号!='CDXL']

### ⑧第二种方法，用比较函数'ne':

In [ ]:
data[data['门店编号'].ne('CDXL')]

## 5.筛选2020年5月的运营数据

首先将日期格式化：

In [ ]:
data['日期']=data["日期"].values.astype('datetime64')  #如果已为日期格式则此步骤可省略
data['日期']

In [ ]:
import datetime
s_date = datetime.datetime.strptime('2020-04-30', '%Y-%m-%d').date()  #起始日期
e_date = datetime.datetime.strptime('2020-06-01', '%Y-%m-%d').date()  #结束日期

### ⑨第一种方法，用逻辑运算符号'>' '<'和'&'：

Pandasdatetime64[ns]不能直接与datetime.date相比，需要用pd.Timestamp进行转化

In [ ]:
data[(data.日期>pd.Timestamp(s_date))&(data.日期<pd.Timestamp(e_date))]

### ⑩第二种，用比较函数'gt''lt'和'&':

In [ ]:
data[(data['日期'].lt(pd.Timestamp(e_date)))&(data['日期'].gt(pd.Timestamp(s_date)))]

### ⑪第三种，用apply函数实现:

In [ ]:
id_a=data.日期.apply(lambda x: x.year ==2020  and x.month==5)
data[id_a]

### ⑫第四种，用between函数实现:

In [ ]:
id_b=data.日期.between(pd.Timestamp(s_date),pd.Timestamp(e_date))
data[id_b]

## 6.筛选“类别ID”包含'000'的数据

### ⑬第一种，用contains函数：

In [ ]:
data['类别ID']=data['类别ID'].values.astype('str')  #将该列转换为字符数据类型
id_c=data.类别ID.str.contains('000',na=False)
data[id_c]

### ⑭第二种，用isin函数：

In [8]:
id_i=data.类别ID.isin(['000'])  #接受一个列表
data[id_i]

Empty DataFrame
Columns: [商品ID, 类别ID, 门店编号, 单价, 销量, 订单ID, 日期, 时间]
Index: []

很遗憾，isin函数搞不定，因为它只能判断该列中元素是否在列表中

## 7.筛选商品ID以“301”开头的运营数据

### ⑮需要用contains函数结合正则表达式使用：

In [7]:
data['商品ID']=data['商品ID'].values.astype('str')  #将该列转换为字符数据类型
id_c2=data.商品ID.str.contains('301\d{5}',na=False)
data[id_c2]

,商品ID,类别ID,门店编号,单价,销量,订单ID,日期,时间
1,30163281,914010000,CDNL,2.00,2.000,20201003CDLG000210052759,2011-01-04,09:56
4,30179558,915000100,CDNL,47.41,0.226,20201003CDLG000210052759,2011-01-07,09:56
6,30179520,915000100,CDNL,77.52,0.086,20201003CDLG000210052759,2011-01-09,09:56
7,30184351,915000106,CDNL,15.57,0.420,20201003CDLG000210052759,2011-01-10,09:56
8,30184351,915000106,CDNL,15.58,0.470,20201003CDLG000210052759,2011-01-11,09:56
...,...,...,...,...,...,...,...,...
3429,30135547,930000201,CDXL,9.52,7.000,20201003CDLG000510025132,2020-05-24,09:12
3448,30143065,911010100,CDXL,29.42,1.000,20201003CDLG000510025138,2020-06-12,09:37
3450,30173850,920090000,CDXL,10.62,0.782,20201003CDLG000510025138,2020-06-14,09:37
3457,30174841,923000008,CDXL,6.80,0.919,20201003CDLG000510025140,2020-06-21,09:41
3477,30129510,925090000,CDXL,23.21,0.312,20201003CDLG000510025151,2020-07-11,11:50