# 1. big number with "thousand comma"

In [1]:
num1 = 10_000_000_000
num2 = 100_000_000

total = num1 + num2
print(f'{total:,}')

10,100,000,000

# 2. container with file operation

In [3]:
with open("./data/test.txt") as f:
    file_content = f.read()      # dont need f.close()

words = file_content.split(' ')
words_count = len(words)
print(words_count)

217

# 3. Enumerate operator

In [4]:
names = ["Corey", "Chris", "Dave", "Travis"]

for index, name in enumerate(names):
    print(index, name)

0 Corey
1 Chris
2 Dave
3 Travis

In [5]:
names = ["Corey", "Chris", "Dave", "Travis"]

for index, name in enumerate(names, start = 10):
    print(index, name)

10 Corey
11 Chris
12 Dave
13 Travis

In [6]:
names = ["Peter Parker", "Clark Kent", "Wade Wilson", "Bruce Wayne"]
heroes = ["Spiderman", "Superman", "DeadPool", "Batman"]

for index, name in enumerate(names):
    hero = heroes[index]
    print(f'{name} is actually {hero}')

Peter Parker is actually Spiderman
Clark Kent is actually Superman
Wade Wilson is actually DeadPool
Bruce Wayne is actually Batman

In [7]:
for name, hero in zip(names, heroes):
    print(f'{name} is actually {hero}')

Peter Parker is actually Spiderman
Clark Kent is actually Superman
Wade Wilson is actually DeadPool
Bruce Wayne is actually Batman

In [8]:
universes = ["Marvel", "CA", "Chicago", "WH"]
for name, hero, universe in zip(names, heroes, universes):
    print(f'{name} is actually {hero} from {universe}')

Peter Parker is actually Spiderman from Marvel
Clark Kent is actually Superman from CA
Wade Wilson is actually DeadPool from Chicago
Bruce Wayne is actually Batman from WH

In [9]:
for value in zip(names, heroes, universes):
    print(value)

('Peter Parker', 'Spiderman', 'Marvel')
('Clark Kent', 'Superman', 'CA')
('Wade Wilson', 'DeadPool', 'Chicago')
('Bruce Wayne', 'Batman', 'WH')

In [10]:
type(value)

tuple

# 4. Unpacking Tuple

In [12]:
items = (1,2)
print(items)

(1, 2)

In [13]:
a, b = (1,2)
print(a, b)

1 2

In [14]:
a, b, *c = (1,2,3,4,5,6)
print(a, b, c)

1 2 [3, 4, 5, 6]

In [15]:
type(c)

list

In [16]:
a, b, *_ = (1,2,3,4,5,6)
print(a, b)

1 2

In [18]:
a, b, *_, c, d = (1,2,3,4,5,6)
print(a, b, c, d)

1 2 5 6

# 5. setattr

In [19]:
class Person():
    pass

person = Person()

first_key = "first"
first_val = "wenyu"

setattr(person, 'first', 'wenyu')
print(person.first)

wenyu

In [21]:
setattr(person, first_key, first_val)
print(person.first)

wenyu

In [22]:
val = getattr(person, first_key)
print(val)

wenyu

In [23]:
person_info = {'first': 'wenyu', 'last': 'chen'}

for key, value in person_info.items():
    setattr(person, key, value)

print(person.first)
print(person.last)

wenyu
chen

In [24]:
for key in person_info.keys():
    print(getattr(person, key))

wenyu
chen

# 6. Hide password input

In [25]:
from getpass import getpass

In [27]:
# username = input("Username: ")
# password = getpass("Password: ")