## The Basic of Python Tuple
列表不能作为字典的key，**而元组可以**。

列表不能作为集合的项，**而元组可以**。

List is Mutable, **Tuple is immutable**.

### to create a tuple

In [5]:
t = (1,2,3)
print(t)
empty_tup = ()
print(empty_tup)
#tuple of single item
single_tup = 'a',   # suffix comma means a tuple of single item
print(single_tup)
print(type(single_tup))
single_tup2 = (1,)
print(single_tup2)
print(type(single_tup2))
tup = 4,5,6,   # suffix comma could be removed     
print(tup)

(1, 2, 3)
()
('a',)
<class 'tuple'>
(1,)
<class 'tuple'>
(4, 5, 6)

In [6]:
t = tuple([7,8,9])
t

(7, 8, 9)

In [3]:
t[0] = 100  # tuple is IMMUTABLE

TypeError: 'tuple' object does not support item assignment

Tuples are often used for functions that have multiple return values

In [5]:
x = 0.125
numerator, denominator = x.as_integer_ratio()
numerator, denominator

(1, 8)

The functions that work for list can work for tuple too, such as len(), max(), min(),

Swap to variables

In [6]:
a = 1
b = 0
b, a = a, b
a, b

(0, 1)

switch between list and tuple

In [13]:
name_list = ["alice", "bob", "michael"]
name_tuple = tuple(name_list)
name_tuple

('alice', 'bob', 'michael')

In [14]:
name_list = list(name_tuple)
name_list

['alice', 'bob', 'michael']

### Tuple's methods

In [17]:
t = ('a', 'b', 'c', 'd', 'a', 'd', 'm', 'p', 'c', 'd', 'a', 'o')
t.count('a')   # number of occurance of 'a'

3

In [18]:
t.index('d')  # first occurance of 'd'

3

In [19]:
t.index('d',2)

3

In [22]:
s1=(1,2,3)
s2=('a','b','c')
s = s1+s2
s

(1, 2, 3, 'a', 'b', 'c')

In [23]:
s1.__add__(s2)

(1, 2, 3, 'a', 'b', 'c')

In [24]:
print(2 in s1)

True

In [25]:
del s2
print(s2)

NameError: name 's2' is not defined

In [27]:
t = (10,22,0,15,50)
print(max(t))
print(min(t))

50
0

### 命名元组

这个特征才是元组存在的意义所在。可以称之为带字段名的记录。

In [30]:
from collections import namedtuple

# Create a City class
City = namedtuple('City','name country population coordinates')

# Initialize 
tokyo = City("Tokyo","JP", "36.93",("35.68","139.69"))

print(tokyo)
print(tokyo.name)
print(tokyo.country)

City(name='Tokyo', country='JP', population='36.93', coordinates=('35.68', '139.69'))
Tokyo
JP

In [31]:
print(City._fields)

('name', 'country', 'population', 'coordinates')

In [32]:
# Create a new instance
LatLong = namedtuple("LatLong","lat long")
Xiamen_tuple = ("Xiamen", "CH","40.54",LatLong(24.26,118.03))
Xiamen = City._make(Xiamen_tuple)
print(Xiamen)

City(name='Xiamen', country='CH', population='40.54', coordinates=LatLong(lat=24.26, long=118.03))

In [33]:
# Convert named_tuple to OrderDict
Xiamen_dict=Xiamen._asdict()
print(Xiamen_dict)

OrderedDict([('name', 'Xiamen'), ('country', 'CH'), ('population', '40.54'), ('coordinates', LatLong(lat=24.26, long=118.03))])

### Unpacking

In [1]:
item = ('Peanut butter', 'Jelly')
first, second = item
print(first, ' and ', second)

Peanut butter  and  Jelly