In [2]:
import pandas as pd 
df = pd.read_excel('../data/info.xlsx')
df

   姓名  编号 性别                身份证号
0  陈王  12  男  720102199508240069
1  张万  16  女  310111198709300168

In [3]:
df.to_excel('../data/info1.xlsx', encoding='gbk')

In [4]:
df.to_csv('../data/info1.csv', encoding = 'gbk')

In [8]:
df = pd.read_excel('../data/info.xlsx', converters={"编号":str, "身份证号":str})
df

   姓名      编号 性别                身份证号
0  陈王  000012  男  720102199508240069
1  张万  000016  女  310111198709300168

In [9]:
df["编号"] = df["编号"].apply(lambda x: "\t" + x)
df["身份证号"] = df["身份证号"].apply(lambda x: "\t" + x)
df

   姓名        编号 性别                  身份证号
0  陈王  \t000012  男  \t720102199508240069
1  张万  \t000016  女  \t310111198709300168

In [19]:
# encoding can be 'utf-8' and 'gbk'
df.to_excel('../data/info1.xlsx', index=False, encoding='utf-8')

In [18]:
# encoding can be utf-8-sig only
df.to_csv('../data/info1.csv', index=False, encoding = 'utf-8-sig')