Python's Dictionary

1. create a dictionary

In [3]:
numbers = {'one': 1, 'two': 2, "three": 3}
numbers

{'one': 1, 'two': 2, 'three': 3}

In [7]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [4]:
numbers['three']

3

In [5]:
numbers['eleven'] = 11   # dictionary is MUTTABLE
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [6]:
numbers['two'] = 22
numbers

{'one': 1, 'two': 22, 'three': 3, 'eleven': 11}

the in operator tells us whether something is *A KEY* in the dictionary

In [8]:
'Saturn' in planet_to_initial

True

In [9]:
"Betatose" in planet_to_initial

False

A for loop over a dictionary will loop over its *KEYS*.

In [10]:
for k in planet_to_initial:
    print("{} = {}".format(k, planet_to_initial[k]))

Mercury = M
Venus = V
Earth = E
Mars = M
Jupiter = J
Saturn = S
Uranus = U
Neptune = N

access a collection of all the keys or all the values with
dict.keys() and dict.values(), respectively.

In [11]:
planet_to_initial.keys()

dict_keys(['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'])

In [12]:
planet_to_initial.values()

dict_values(['M', 'V', 'E', 'M', 'J', 'S', 'U', 'N'])

In [13]:
" ".join(sorted(planet_to_initial.values()))

'E J M M N S U V'

dict.items() iterates over the keys and values of a dictionary simultaneously.

In [14]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"

In [1]:
# help(dict)

### Get default value of a key

In [2]:
d = {'a': 1, 'b': 2}
d.get('c', 3)    # if 'c' key non-existent, returns default ‘3’

3