### create a list

#### create by []

In [1]:
l = []
l

[]

In [2]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

#### create by list

In [1]:
b = list('abc')
b,type(b)

(['a', 'b', 'c'], list)

In [2]:
c = list((1,2,3))
c, type(c)

([1, 2, 3], list)

In [3]:
# 对于字典，生成的是key列表
d = list({"aa":1, "bb":3})
d, type(d)

(['aa', 'bb'], list)

#### create by range

In [4]:
e = list(range(10))
e, type(e)

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], list)

In [5]:
ee = list(range(3,-10, -3))
ee, type(ee)

([3, 0, -3, -6, -9], list)

#### create by 列表推导式

In [6]:
f = [i for i in range(5)]
f, type(f)

([0, 1, 2, 3, 4], list)

### to create a list of lists

In [3]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '3', '4'],
    ['6', 'A', 'K'],   # Comma after the last element is optional
]
hands

[['J', 'Q', 'K'], ['2', '3', '4'], ['6', 'A', 'K']]

### A list can contain a mix of different types of variables

In [4]:
my_favoriate_things = [72, "canton songs", help] # Python's help function
my_favoriate_things

[72,
 'canton songs',
 Type help() for interactive help, or help(object) for help about object.]

### indexing

In [5]:
planets[0]

'Mercury'

In [6]:
planets[1]

'Venus'

In [7]:
planets[-1]

'Neptune'

### slicing

In [8]:
planets[0:3]

['Mercury', 'Venus', 'Earth']

In [9]:
planets[:3]

['Mercury', 'Venus', 'Earth']

In [11]:
planets[-3:]

NameError: name 'planets' is not defined

### 向list中添加元素

#### append()方法

真正地在尾部添加元素，添加元素后，列表的存储地址没有改变，原地操作列表

In [12]:
a = ['A','B','C','D','E']
b = []
id(a),id(b)

(140585705376656, 140585705375696)

In [13]:
for item in a:
    b.append(item)
b, id(b)

(['A', 'B', 'C', 'D', 'E'], 140585705375696)

#### extend()方法
a.extend(b) 将b列表元素添加到a列表

In [14]:
c = [1,2,3]
a.extend(c)
a,id(a)

(['A', 'B', 'C', 'D', 'E', 1, 2, 3], 140585705376656)

#### insert()方法

在指定位置插入新元素，当涉及大量元素时，时间长

In [16]:
c.insert(0,5)
c

[5, 1, 2, 3]

#### "+"扩展列表
创建了新列表，增加了内存

In [18]:
c = c+ [50]
id(c)

140585707218896

#### “*” 扩展列表

In [20]:
c = c * 3
c

[5, 1, 2, 3, 50, 5, 1, 2, 3, 50, 5, 1, 2, 3, 50]

### 列表中删除元素

#### remove()方法
若列表中有重复元素，则删除首次出现的元素。若删除元素不存在，则抛出异常。

In [21]:
aa = [1,2,3,4,5,3,5,7,9]
print(id(aa))
aa.remove(3)
print(aa,id(aa))

140585706089600
[1, 2, 4, 5, 3, 5, 7, 9] 140585706089600

#### pop(index)方法
当没有index参数时，返回列表末尾元素，并删除之

In [24]:
aa.pop()
aa

[1, 2, 4, 5, 3, 5]

#### clear()方法，删除列表中所有元素

In [26]:
aa.clear()
aa

[]

### 获取列表中元素的方式

In [11]:
#[idx]获取单个列表元素
planets[3] = "Malacandra"
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [12]:
# 切片获取多个列表元素
planets[:3] = ["Mer", "Vee", "Ur"]
print(planets)
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]
planets

['Mer', 'Vee', 'Ur', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [29]:
# index(item,start, stop)方法，参数是列表中的元素，获取指定元素在位置start 到stop之间的下标
l = ['a','b', 'c', 'd','m', 'c', 'n']
l.index('c',3,-1)

5

### List Functions

Python functions for working with lists.

Don't mix it with list object's methods. To refer in next section.

In [13]:
len(planets)

8

In [14]:
primes= [2,3,5,7]
sum(primes)

17

In [15]:
max(primes)

7

In [16]:
min(primes)

2

In [17]:
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [18]:
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

Number is not just a number
It's an object. Numbers in python carry around an associated variable
called imag.

In [19]:
x = 12
x.imag

0

In [20]:
c = 12 + 3j
c.imag

3.0

Numbers have a methond called bit_length. To return
number of bits necessary to represent it in binary

In [21]:
x = 12
x.bit_length()

4

### List's methods

In [22]:
planets.append('Pluto')   # append() only append ONE object
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [23]:
planets.extend(["Other 1", "Other 2"])   # extend() can extend an iterable
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto',
 'Other 1',
 'Other 2']

In [24]:
planets.pop()    # pop() get the last element and remove it from list

'Other 2'

In [25]:
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto',
 'Other 1']

In [26]:
planets.remove("Other 1")   # remove() delete the first occurance 
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [5]:
planets.reverse()      # reverse it *IN PLACE*
print(planets)
planets.reverse()

['Neptune', 'Uranus', 'Saturn', 'Jupiter', 'Mars', 'Earth', 'Venus', 'Mercury']

In [6]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [8]:
planets.sort(reverse = False)
print(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [30]:
planets.index("Earth")   # first occurance of 'Earth'

0

In [31]:
"Venus" in planets

True

In [30]:
# count(item) 获取指定元素在列表中出现的次数
aa = [1,3,5,7,9,11,13,15,17,19,3,5,7,8,20,3,3]
aa.count(3)

4

### 列表赋值、浅拷贝、深拷贝

#### 赋值

In [3]:
li = [1,2,3]
li2 = li
print(id(li) == id(li2))
li2[0]=100
print("li = ",li)
print("li2 = ", li2)

True
li =  [100, 2, 3]
li2 =  [100, 2, 3]

#### 浅拷贝

list 的copy方法，实现的是**浅拷贝**。仅拷贝当前对象，而不会拷贝对象内部关联的对象。

In [4]:
li = [1,2,3]
li2 = li.copy()
print(id(li) == id(li2))
li2[0]=100
print("li = ",li)
print("li2 = ", li2)

False
li =  [1, 2, 3]
li2 =  [100, 2, 3]

#### 深拷贝

**深拷贝**不仅拷贝当前对象本身，同时还会拷贝当前对象，所关联的**可变对象**，一直拷贝到没有可变对象为止。

In [6]:
import copy

li = [[1,2],[3,4]]
li2 = copy.copy(li)
print(id(li) == id(li2))
li2[0][0] = 666
print("li = ",li)
print("li2 = ", li2)

False
li =  [[666, 2], [3, 4]]
li2 =  [[666, 2], [3, 4]]

### zip

In [34]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [35]:
for i, (a,b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a,b))

0: foo, one
1: bar, two
2: baz, three

Given a "zipped" sequence, **zip** can be applied in a clever way to **"unzip"** the sequence. 
Another way to think about this is converting a list of *rows* into a list of *columns*.

In [36]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

first_names, last_names = zip(*pitchers)
print(first_names)
print(last_names)

('Nolan', 'Roger', 'Schilling')
('Ryan', 'Clemens', 'Curt')

### 列表推导式

In [9]:
if_list = [x**2 for x in range(10) if x % 2 == 0]
if_list

[0, 4, 16, 36, 64]

In [11]:
if_list = [x**2 if x % 2 == 0 else x+2 for x in range(10)]
if_list

[0, 3, 4, 5, 16, 7, 36, 9, 64, 11]

In [12]:
if_list = [x**2 for x in range(10) if x % 2 == 0 if x % 3 == 0]
if_list

[0, 36]

In [15]:
l_list = ['Ada',"Basic", "C", "C++","Java","Python"]
a_list = [l_list[i] for i in [0,1,4]]
a_list

['Ada', 'Basic', 'Java']

In [32]:
#help(planets)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None