In [1]:
import math

In [2]:
def area(r):
    """ Area of a circle with radius 'r'."""
    return math.pi * (r ** 2)

In [3]:
radii = [2, 5,7.1, 0.3, 10]

#### Method 1: Direct method

In [4]:
areas = []
for r in radii:
    a = area(r)
    areas.append(a)
areas

[12.566370614359172,
 78.53981633974483,
 158.36768566746147,
 0.2827433388230814,
 314.1592653589793]

#### Method 2: 'map' function

In [7]:
map(area, radii)

In [8]:
list(map(area, radii))

[12.566370614359172,
 78.53981633974483,
 158.36768566746147,
 0.2827433388230814,
 314.1592653589793]

In [9]:
temps = [('Berlin', 29), ('Cairo', 36), ('Buenos Aires', 20),
        ('Los Angeles', 26), ('Tokyo', 27), ('New York', 28),
        ('London', 22), ('Beijing', 29),]

In [12]:
c_to_f = lambda data: (data[0], (9/5)* data[1] + 32)

In [13]:
list(map(c_to_f, temps))

[('Berlin', 84.2),
 ('Cairo', 96.8),
 ('Buenos Aires', 68.0),
 ('Los Angeles', 78.80000000000001),
 ('Tokyo', 80.6),
 ('New York', 82.4),
 ('London', 71.6),
 ('Beijing', 84.2)]

#### filter function

In [16]:
import numpy as np
data = [1.3, 2.7, 0.8, 4.1, 4.3, -0.1]
avg = np.mean(data)
avg

2.183333333333333

In [15]:
filter(lambda x: x> avg, data)

In [17]:
list(filter(lambda x: x> avg, data))

[2.7, 4.1, 4.3]

In [18]:
list(filter(lambda x: x<= avg, data))

[1.3, 0.8, -0.1]

In [19]:
countries = ['', 'Argentina', 'Brazil', 'Chile', '', 'Colombia', '',
            'Ecuador', '', '', 'Venezuela',]

In [21]:
list(filter(None, countries))

['Argentina', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Venezuela']

#### reduce function

In [22]:
from functools import reduce

In [23]:
# multiply all numbers in a list
data = [2,3,5, 7, 11, 13, 17, 19, 23, 29,]
multiplier = lambda x, y: x * y
reduce(multiplier, data)

6469693230

In [24]:
# method 2 using explicit loop
product = 1
for x in data:
    product = product * x
product

6469693230