In [1]:
import pandas as pd
drinks = pd.read_csv('./data/drinksbycountry', index_col = 'country')
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

In [3]:
# loc accesses by label
drinks.loc['China', :]

beer_servings                     79
spirit_servings                  192
wine_servings                      8
total_litres_of_pure_alcohol       5
continent                       Asia
Name: China, dtype: object

In [4]:
# iloc accesses by position
drinks.iloc[2,:]

beer_servings                       25
spirit_servings                      0
wine_servings                       14
total_litres_of_pure_alcohol       0.7
continent                       Africa
Name: Algeria, dtype: object

In [5]:
# alternative: use loc
drinks.loc['China', drinks.columns[1]]

192

In [7]:
drinks.index.get_loc('China')

36

In [6]:
# alternative: use iloc
drinks.iloc[drinks.index.get_loc('China'), :]

beer_servings                     79
spirit_servings                  192
wine_servings                      8
total_litres_of_pure_alcohol       5
continent                       Asia
Name: China, dtype: object

In [8]:
# alternative: use iloc
drinks.iloc[36, drinks.columns.get_loc('wine_servings')]

8