### Use *pandas_datareader* module to download data for stock tickers

In [1]:
import pandas_datareader.avdata as web
import pandas as pd 
import numpy as np

all_data = {ticker: web.get_data_yahoo(ticker)
           for ticker in ['AAPL', 'IBM, ‘MSFT', 'GOOG']}

price = pd.DataFrame({ticker: data['Adj Close']
                     for ticker, data in all_data.items()})

volume = pd.DataFrame({ticker: data['Volume']
                     for ticker, data in all_data.items()})

SyntaxError: invalid character in identifier (<ipython-input-1-96acc0a2a8e5>, line 6)

#### Compute percent changes of price, a time series operation

In [ ]:
returns = price.pct_change()
returns.tail()

#### *corr and cov* method computes the correlation and covariance of the overlapping, non-NA, aligned-by-index values in two Series

In [ ]:
returns['MSFT'].corr(returns['IBM'])

In [ ]:
returns['MSFT'].cov(returns['IBM'])

In [ ]:
returns.MSFT.corr(returns.IBM)

**DataFrame's corr and cov methods return a full correlation or covariance matrix as a DataFrame, respectively**

In [2]:
returns.corr()

NameError: name 'returns' is not defined

In [ ]:
returns.cov()

In [ ]:
returns.corrwith(returns.IBM)

In [ ]:
# Computes the correlations of percent changes with volume
returns.corrwith(volume)

In [4]:
import pandas as pd 
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
obj.value_counts()

a    3
c    3
b    2
d    1
dtype: int64

In [7]:
pd.value_counts(obj.values, sort=True)

a    3
c    3
b    2
d    1
dtype: int64

In [9]:
to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])
unique_vals = pd.Series(['c', 'b', 'a'])
pd.Index(unique_vals).get_indexer(to_match)

array([0, 2, 1, 1, 0, 2], dtype=int64)

In [10]:
data = pd.DataFrame({'Que1': [1,3,4,3,4],
                    'Que2': [2,3,1,2,3],
                    'Que3': [1,5,2,4,4]})
data

   Que1  Que2  Que3
0     1     2     1
1     3     3     5
2     4     1     2
3     3     2     4
4     4     3     4

In [11]:
result = data.apply(pd.value_counts).fillna(0)
result

   Que1  Que2  Que3
1   1.0   1.0   1.0
2   0.0   2.0   1.0
3   2.0   2.0   0.0
4   2.0   0.0   2.0
5   0.0   0.0   1.0