In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
import tushare as ts
ts.__version__

'1.2.62'

In [4]:
# set token
ts.set_token('0f02e3a72e9a28800e48d813a818473bb114dd48630f7a77736b34e5')
pro = ts.pro_api()

### 股市基本信息

In [10]:
# 通过 trade_cal 可以便捷的获取所有的交易日的日期信息，代码如下：
df = pro.trade_cal(exchange_id='', start_date='20210601', end_date='', 
                   fields='pretrade_date',is_open='0')
df.head()

  pretrade_date
0      20210604
1      20210604
2      20210611
3      20210611
4      20210611

画图
https://mp.weixin.qq.com/s?__biz=MzI2NjY5NzI0NA==&mid=2247497147&idx=1&sn=f1a111fc7435fa76694fb00ee2174a9e&scene=21#wechat_redirect

In [17]:
# get stock list
st_ls = pro.stock_basic(exchange_id='',list_status='L',
                       fields = 'ts_code,symbol,name,area,industry,list_date,list_status')
st_ls.head()

     ts_code  symbol  name area industry list_status list_date
0  000001.SZ  000001  平安银行   深圳       银行           L  19910403
1  000002.SZ  000002   万科A   深圳     全国地产           L  19910129
2  000004.SZ  000004  国华网安   深圳     软件服务           L  19910114
3  000005.SZ  000005  ST星源   深圳     环境保护           L  19901210
4  000006.SZ  000006  深振业A   深圳     区域地产           L  19920427

In [18]:
# get stock list (2)
data = pro.query(
    'stock_basic', exchange='', list_status='L', 
    fields='ts_code,symbol,name,area,industry,list_date,list_status')
data

        ts_code  symbol     name area industry list_status list_date
0     000001.SZ  000001     平安银行   深圳       银行           L  19910403
1     000002.SZ  000002      万科A   深圳     全国地产           L  19910129
2     000004.SZ  000004     国华网安   深圳     软件服务           L  19910114
3     000005.SZ  000005     ST星源   深圳     环境保护           L  19901210
4     000006.SZ  000006     深振业A   深圳     区域地产           L  19920427
...         ...     ...      ...  ...      ...         ...       ...
4323  688777.SH  688777     中控技术   浙江     软件服务           L  20201124
4324  688788.SH  688788     科思科技   深圳     通信设备           L  20201022
4325  688819.SH  688819     天能股份   浙江     电气设备           L  20210118
4326  688981.SH  688981     中芯国际   上海      半导体           L  20200716
4327  689009.SH  689009  九号公司-WD   北京      摩托车           L  20201029

[4328 rows x 7 columns]

#### 股票行情日线数据

In [19]:
# get MaoTai daily trend
data = pro.daily(ts_code='600519.SH',start_date='20210601', end_date='20210607')
data

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,600519.SH,20210607,2265.0,2279.00,2240.01,2271.00,2251.50,19.50,0.8661,25466.27,5756592.694
1,600519.SH,20210604,2215.0,2288.00,2214.04,2251.50,2222.22,29.28,1.3176,31422.19,7058715.115
2,600519.SH,20210603,2220.0,2260.34,2210.08,2222.22,2222.00,0.22,0.0099,23450.31,5242453.019
3,600519.SH,20210602,2250.0,2264.00,2208.18,2222.00,2240.95,-18.95,-0.8456,22862.77,5088908.384
4,600519.SH,20210601,2222.0,2248.95,2206.00,2240.95,2218.00,22.95,1.0347,30616.34,6832594.466

In [20]:
# get multiple stocks daily trend
data = pro.daily(ts_code='600519.SH,300433.SZ',start_date='20210601', end_date='20210607')
data

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,300433.SZ,20210607,28.50,28.90,28.11,28.33,28.50,-0.17,-0.5965,174281.26,494794.349
1,600519.SH,20210607,2265.00,2279.00,2240.01,2271.00,2251.50,19.50,0.8661,25466.27,5756592.694
2,300433.SZ,20210604,28.75,29.09,28.37,28.50,28.96,-0.46,-1.5884,241055.19,691405.550
3,600519.SH,20210604,2215.00,2288.00,2214.04,2251.50,2222.22,29.28,1.3176,31422.19,7058715.115
4,300433.SZ,20210603,28.31,29.59,28.31,28.96,28.50,0.46,1.6140,346103.79,1011277.753
5,600519.SH,20210603,2220.00,2260.34,2210.08,2222.22,2222.00,0.22,0.0099,23450.31,5242453.019
6,300433.SZ,20210602,29.02,29.18,28.50,28.50,29.01,-0.51,-1.7580,284944.39,820476.580
7,600519.SH,20210602,2250.00,2264.00,2208.18,2222.00,2240.95,-18.95,-0.8456,22862.77,5088908.384
8,300433.SZ,20210601,29.25,29.50,28.87,29.01,29.18,-0.17,-0.5826,248300.70,723128.336
9,600519.SH,20210601,2222.00,2248.95,2206.00,2240.95,2218.00,22.95,1.0347,30616.34,6832594.466

In [21]:
# 获取某个交易日，整个沪深市场所有股票的日线行情数据，如下：
df = pro.daily(trade_date='20210607')
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20210607,24.48,24.48,23.93,24.30,24.54,-0.24,-0.9780,447914.10,1081738.832
1,000002.SZ,20210607,26.12,26.18,25.78,25.94,26.33,-0.39,-1.4812,647452.80,1676861.164
2,000004.SZ,20210607,16.29,17.89,15.76,17.89,16.26,1.63,10.0246,84239.39,145238.631
3,000005.SZ,20210607,1.83,1.92,1.81,1.90,1.83,0.07,3.8251,179735.76,33831.971
4,000006.SZ,20210607,5.28,5.29,5.22,5.22,5.25,-0.03,-0.5714,57162.40,29941.166
...,...,...,...,...,...,...,...,...,...,...,...
4314,688777.SH,20210607,93.80,96.62,92.53,94.45,93.82,0.63,0.6715,9655.02,91122.539
4315,688788.SH,20210607,135.81,139.99,135.18,136.00,134.60,1.40,1.0401,5512.15,75650.072
4316,688819.SH,20210607,44.85,45.34,44.10,44.48,44.84,-0.36,-0.8029,46479.61,207158.069
4317,688981.SH,20210607,56.00,56.88,56.00,56.18,55.14,1.04,1.8861,227528.47,1282246.127
4318,689009.SH,20210607,75.36,79.99,75.02,79.64,75.36,4.28,5.6794,21950.52,172864.544

### 指数信息

In [22]:
df = pro.index_basic(market='CSI')
df

,ts_code,name,market,publisher,category,base_date,base_point,list_date
0,000171.CSI,新兴成指,CSI,中证公司,主题指数,20101231,1000.0,20170125
1,000188.CSI,中国波指,CSI,中证公司,主题指数,None,NaN,20161128
2,000300HKD00.CSI,沪深300HKD,CSI,中证公司,规模指数,20041231,1000.0,20200720
3,000300HKD01.CSI,沪深300(全)HKD,CSI,中证公司,规模指数,20041231,1000.0,20200720
4,000300HKD02.CSI,沪深300(净)HKD,CSI,中证公司,规模指数,20041231,1000.0,20200720
...,...,...,...,...,...,...,...,...
3694,n99306.CSI,三板研发全收益,CSI,中证公司,主题指数,20181220,1000.0,20190422
3695,n99307.CSI,三板活跃全收益,CSI,中证公司,主题指数,20181220,1000.0,20190422
3696,s00817.CSI,生态100全收益,CSI,中证公司,主题指数,20120629,1000.0,20151021
3697,s00972.CSI,300深市全收益,CSI,中证公司,主题指数,20041231,1000.0,20120621
3698,SHHKSI.CSI,沪港通AH股精明,CSI,中证公司,主题指数,20140409,5000.0,20141117